* {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jogo {
    display: flex;
    justify-content: space-between;
    padding: 59px 38px;
    width: 100%;
}

.imagem {
    max-width: 400px;
}

.imagem img {
    width: 100%;
}

.botao-palavra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-palavra button {
    width: 200px;
    height: 60px;
    margin-top: 30px;
    background-color: #27ae60;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    font-family: 'Roboto', sans-serif;

}

.botao-palavra p {
    margin-top: 282px;
    font-weight: 700px;
    font-size: 50px;
    font-family: 'Noto Sans';
    line-height: 68px;
}

.teclado {
    display: flex;
    flex-wrap: wrap;
    max-width: 48%;
    margin-top: 71px;
}

.letra {
    width: 40px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #798A9F;
    background-color: #7AA7C7;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin: 12px;

}